<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>fournisseurToutbois</display-name>
   <filter>
        <filter-name>RestrictionFilter</filter-name>
        <filter-class>com.mika.filtres.RestrictionFilter</filter-class>
</filter>
<filter-mapping>
        <filter-name>RestrictionFilter</filter-name>
        <url-pattern>/*</url-pattern>
</filter-mapping>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.mika.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NouveauFournisseur</servlet-name>
    <servlet-class>com.mika.servlets.NouveauFournisseur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NouveauFournisseur</servlet-name>
    <url-pattern>/NouveauFournisseur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NouvelArticle</servlet-name>
    <servlet-class>com.mika.servlets.NouvelArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NouvelArticle</servlet-name>
    <url-pattern>/NouvelArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NouvelUtilisateur</servlet-name>
    <servlet-class>com.mika.servlets.NouvelUtilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NouvelUtilisateur</servlet-name>
    <url-pattern>/NouvelUtilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.mika.servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.mika.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>
 
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/inc/taglib.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>